body {font-family: Arial, sans-serif;
	font-size: 16px; margin: 0 auto; max-width: 1280px;}
	*, *:before,*:after {box-sizing: border-box; margin: 0; padding: 0;}
@font-face {font-family:"Socialico";src:url("../fonts/Socialico.eot") 
			format("eot"),url("../fonts/Socialico.woff") format("woff"),url("../fonts/Socialico.ttf") format("truetype"),url("../fonts/Socialico.svg#Socialico") 
			format("svg");font-weight:normal;font-style:normal;}
.container {width: 100%; 
			max-width:1180px;
			margin: 0 auto;}

section {padding: 50px 0px;}

/*Общие правила*/
.section_headding h2{font-size: 32px; color: #445161; font-weight:500; margin-bottom: 25px; text-align: center;}


/* Первая секция (Product)*/
.header {background-color: #445162; padding: 50px 0px 60px 0px;}
.block_width {width: 48%; display: inline-block;}
.header_left_block {vertical-align: top; color: #ffffff;}
.header_list li {list-style-type: none; font-size: 20px; line-height: 36px;}
.header_list li:nth-last-child(1) {margin-bottom: 0px;}
.checkicon {margin-right: 12px;}

h1 {margin-bottom: 40px; font-size: 60px; line-height: 45px;}
.header_right_block {float: right;}
.header_image {width: 470px; height: 214px; overflow: hidden; float: right;}
.header_image_source {object-fit: cover; width: 100%; height: 100%;}



/*Вторая секция (About)*/
.about {height: 347px;}
.about_left_block {width:55%; display: inline-block; vertical-align: top;}
.about_image_block {width: 40%; display: inline-block; float: right;}
.about_image {width: 430px; height: 245px; float: right; overflow: hidden;}
.about_image_source {object-fit: cover; width: 100%; height: 100%;}
.about_text {line-height: 20px;}
.first_article {margin-bottom: 10px;}
.about_headding {margin: 0px 0px 36px 0px; text-align: left;}
.main_about_block {overflow: auto;}

/*Третья секция (Dignity)*/
.dignity {background-color: #f5f5f5;}
.dignity_separate_block {width:48%; display: inline-block;}
.dignity_icon_block {float: left; margin-right: 5px;}
.dignity_text {margin-left: 45px;}
.dignity_separate_left {padding-left:44px;}
.dignity_block_content {margin-bottom:40px;}
.content_last {margin-bottom: 0px;}

/* Четвертая секция Screenshots*/

.screenshot_separate_block {width: 49%; display: inline-block;}
.screenshot_image_block {width:200px; height: 150px; overflow: hidden; display: inline-block;
						vertical-align: top; margin-right: 15px;}
.screenshot_image {object-fit: cover; width: 100%; height: 100%;}
.screenshot_text {display: inline-block; width: 60%; line-height: 24px;}
.screenshot_text_headding, .color h3 {font-size: 24px; color: #445161; margin-bottom: 10px;}
.content_upper {margin-bottom: 33px;}

/* Пятая секция Reviews*/
.reviews {background-color: #f5f5f5;}

.reviews_separate_block {width:100%;
						overflow: auto;}

.reviews_inner_block {width: 50%;
						display: inline-block; 
						float: left;}

.reviews_image_block {width: 20%; 
					display: inline-block; 
					vertical-align: top;}

.reviews_image_block_inner {width: 75px; 
							height: 75px; 
							border-radius: 50%; 
							overflow: hidden;}

.reviews_image {object-fit: cover; 
				width: 100%; 
				height: 100%;}

.reviews_text_block {display: inline-block; 
					width: 75%; 
					font-size: 14px; 
					line-height: 18px;
					background-color: #ebebeb; 
					padding: 15px; 
					font-style: italic; 
					border-radius: 5px;
					position: relative;}

.reviews_author {margin-top: 15px; 
				color: #999999;}

.quote_triangle {width: 0; height: 0; 
				border-top:12px solid transparent; 
				border-right:25px solid #ebebeb; 
				border-bottom:12px solid transparent;
				position: absolute; 
				top: 25px; 
				left: -25px;}

.reviews_upper {margin-bottom: 25px;}
.right_reviews_inner_block {padding-left: 15px;}


/* Секция buynow */

.buynow_main_section {max-width: 990px;
					margin: 0 auto;}

.buynow_central_item {margin: 0px 45px;}

/* Стилизация тайлов товаров */
.buynow_item {width: 30%;
			display: inline-block;
			background-color: #445162;
			color: white;
			padding: 10px 0px 20px 0px;
			border-radius: 3px;
		    text-align: center;}

.buynow_item_price {font-size: 40px;
					line-height: 30px;}

.buynow_item_name {margin: 0 auto; font-size: 24px; 
					line-height: 30px;
					margin-bottom: 15px;}


ol {list-style-position: inside;}

.buynow_item_list {padding:20px;
					font-size: 14px;
					line-height: 24px;
					text-align: left;}

.buynow_item_price_block {width: 98%;
							padding:20px;
							background-color: #fff;
							color: #445162;
							margin: 0 auto;}

.buynow_item_button {margin: 0 auto;
					display: block;
					width: 90%;
					padding: 10px;
					border-radius: 5px;
					border-style: none;
					background-color: #fff;
					font-weight: bold;
					font-size: 18px;
					color:#445162;
					text-transform: uppercase;}
.buynow_item_button:hover {background-color:black;
							cursor: pointer;}
.buynow_item_button:hover span {color:white;}
/* Секция контакты */

.contacts {padding:50px 0px;
			background-color: #445162;}
.contact_headding h2 {color: #fff;}

.contacts_main_block {width: 70%;
						margin: 0 auto;}
.contacts_form_block, .contacts_information_main_block {display: inline-block;}
.contacts_form_block {width:60%;}


.form_item {display: block; 
			width: 100%;
			border-radius: 3px;
			border-style: none;
			padding:10px;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 24px;}
input {color: #445162;}

textarea {resize:none;
		height: 170px;
		font-family: arial, sans-serif;}

.form_button {width: 33%;
			margin:0 auto;
			margin-bottom: 0px;
			background-color: #fff;
			text-transform: uppercase;
			font-weight:bold;}


.contacts_information_main_block {width: 37%; 
								vertical-align: top;
								color:#fff;
								padding-left:50px;
								line-height: 24px;
								}
.contacts_information_item_block {margin-bottom: 35px;}


.information_icon, .information_text {display: inline-block;}
.information_item  {margin-bottom: 20px;}
.information_icon img {width: 100%; 
						object-fit: cover; 
						vertical-align: middle;}

.social_icon i/* {background-color: #fff;
			 	border-radius: 50%;
			 	height: 40px;
			 	width: 40px;
			 	margin-right: 5px;
			 	display: inline-block;} */
			 	 {font-style:normal;
			 	 	font-size:60px;
			 	 	line-height: 24px;
			 	 	cursor:pointer;
			 	 	letter-spacing: -1px;
			 	 border-radius: 70%;}

.social_icon i:hover {color: black; background-color: white; }

/*Footer*/

f5f5f5
footer {background-color: #f5f5f5;}
.footer {text-align: center;
		font-size:12px;}